# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Local environment settings
.env
env.py

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Heroku
*.sqlite3